$RECYCLE.BIN/
**/build/
*.cab
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.rar
*.stackdump
*.tar.gz
*.war
*.zip
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.env
.env.*
.fseventsd
.fuse_hidden*
.gradle
.gradletasknamecache
.idea/
.idea_modules/
.kotlin/
.nfs*
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
atlassian-ide-plugin.xml
build/
ehthumbs.db
ehthumbs_vista.db
gradle-app.setting
hs_err_pid*
out/
run/
runs/

!.env.example
!gradle-wrapper.jar
